
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 242, 249);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

canvas {
    box-shadow: 0px 5px 10px rgb(200, 200, 200);
    margin: 2rem;
    border-radius: 2rem;
}

button, label, input {
    cursor: pointer;
}

header {
    background-color: white;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
    border: 0.2rem solid lightgray;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgb(200, 200, 200);
    display: flex;
}

header h1 {
    display: inline-block;
}

header div {
    display: inline-block;
    width: max-content;
    height: max-content;
    border: none;
}

footer {
    color: gray;
    font-size: .8rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer svg {
    width: 1rem;
    height: 1rem;
    margin-left: .2rem;
    outline: gray;
}

.blue {
    color: rgb(169, 235, 255);
    font-weight: bold;
}

.hidden {
    display: none;
}

.settings-subtitle {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.settings {
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings input {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    accent-color: black;
}

.dropdown {
    padding-left: 1rem;
    margin-bottom: 1rem;
    display: none;
    opacity: 0;
    animation: rise .2s ease;
}

.revealed {
    display: block;
    animation: drop .2s ease;
    opacity: 1;
}

.radio-image {
    display: flex;
}

.radio-image img {
    width: 4rem;
    height: 6rem;
    margin: 0.5rem;  
}

.two-radio label {
    font-size: 1.2em;
}

.navbar-active {
    transform: translateX(0) !important;
}

.settings-button {
    min-width: fit-content;
    min-height: fit-content;
    background-color: inherit;
    border: transparent;
}

.settings-nav {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 11;
    box-shadow: 0px 5px 10px rgba(200, 200, 200, 0.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
  animation: vanish .2s;
}

.backdrop-active {
    display: block !important;
    animation: appear .2s;
    backdrop-filter: blur(5px);
}

.custom-button {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1rem;
    border: 1px solid hsl(249, 37%, 100%);
    font-size: 1.5rem;
    min-height: fit-content;
    min-width: fit-content;
    background-color: inherit;
    box-shadow: 0px 5px 10px rgb(200,200,200);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-button:hover {
    border-color: lightgray;
}

.custom-button:active {
    box-shadow: none;
}

#dropleft {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    width: 20vw;
    height: 100vh;
    max-height: 100vh;
    min-width: fit-content;
    min-height: fit-content;
    background-color: white;
}

#byebye {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 0;
}

#byebye button {
    width: 75%;
    height: 25%;
    max-width: 25vh;
    max-height: 5vh;
    margin-bottom: 2rem;
}

#show-settings {
    border: none;
    margin-left: 1rem;
    padding: 0;
    background-color: inherit;
    border-radius: 0.5rem;
}

#show-settings:hover {
    background-color: gray;
}

#show-settings svg {
    width: 2.5rem;
    height: 2.5rem;
}

.content button {
    width: 8rem;
    height: 4rem;
}

#select-transpose {
    font-size: 1.2em;
}

#select-transpose input {
    text-align: right;
    font-size: 1rem;
    padding-right: .5rem;
}

#reveal {
    background-image: linear-gradient(150deg, rgb(169, 235, 255) 30%, rgb(0, 195, 255));
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes drop {
    from {
        transform: translate(0, -1vh);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes rise {
    from {
        transform: translate(0, 0);
        display: block;
        opacity: 1;
    }
    to {
        transform: translate(0, -1vh);
        display: none;
        opacity: 0;
    }
}
