
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 242, 249);
}

canvas {
    box-shadow: 0px 5px 10px rgb(200, 200, 200);
    margin: 2rem;
    border-radius: 2rem;
}

button, label, input {
    cursor: pointer;
}

header {
    background-color: white;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
    border: 0.2rem solid lightgray;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgb(200, 200, 200);
    display: flex;
    align-items: center;
}

header h1 {
    display: inline-block;
}

header div {
    display: inline-block;
    width: max-content;
    height: max-content;
    border: none;
}

.blue {
    color: rgb(169, 235, 255);
    font-weight: bold;
}

.hidden {
    display: none;
}

.settings-subtitle {
    text-decoration: underline;
}

.settings {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings input {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    accent-color: black;
}

.radio-image {
    display: flex;
}

.radio-image img {
    width: 5rem;
    height: 8rem;
    margin: 0.5rem;  
}

.two-radio label {
    font-size: 1.2em;
}

.active {
    transform: translateX(0) !important;
}

.settings-nav {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
    box-shadow: 0px 5px 10px rgba(200, 200, 200, 0.1);
}

.custom-button {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1rem;
    border: 2px solid hsl(249, 37%, 100%);
    font-size: 1.5rem;
    min-height: fit-content;
    min-width: fit-content;
    background-color: inherit;
    box-shadow: 0px 5px 10px rgb(200,200,200);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-button:hover {
    border-color: rgb(169, 235, 255);
}

.custom-button:active {
    background-color: rgb(226, 225, 231);
    border-color: rgb(169, 235, 255);
    box-shadow: none;
}

#dropleft {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    width: 20vw;
    height: 100vh;
    max-height: 100vh;
    min-width: fit-content;
    min-height: fit-content;
    background-color: white;
}

#byebye {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

#byebye button {
    width: 75%;
    height: 25%;
}

#show-settings {
    border: none;
    margin-left: 1rem;
    padding: 0;
    background-color: inherit;
    border-radius: 0.5rem;
}

#show-settings:hover {
    background-color: gray;
}

#show-settings svg {
    width: 2.5rem;
    height: 2.5rem;
}

#refresh, #reveal {
    width: 8rem;
    height: 4rem;
}

#reveal {
    background-image: linear-gradient(150deg, rgb(169, 235, 255) 30%, rgb(0, 195, 255));
}

#reveal:active {
    background-image: linear-gradient(150deg, hsl(194, 100%, 73%) 30%, hsl(194, 100%, 40%));
}